body {
padding:0;
margin:0;
background:yellow; 
}
.container {
background:white;
}
.header{
height:280px;
background:url('../img/krastkan25.jpg')	
}
.header h1 {
float:left;
margin-left:5px;
text-shadow:1px 1px 1px white;
}
.header .logo {
float:right;
margin-right:5px;
}
.topmenu {
display:flex;
width:100%;
margin:0 auto;
}
.topmenu a{
text-align:center;	
flex:1;
background:olive;
color:white;
border-right:solid 1px white;
text-decoration:none;
padding:4px;
}
.topmenu a:hover{
background:gold;
color:black;
}
footer.footer{
padding:50px 0;
text-align:center;
background:grey;
}

@media screen and (max-width: 768px) {
.logo {
display:none;
}	
.header {
height:100px;
}
header h1 {
font-size:18px;
}
.topmenu {
flex-direction:column;
}

}
}